body, html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(rgb(85, 51, 25), rgb(202, 110, 40));
  background-color: rgb(25, 25, 25);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 740px;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}
