.header {
  display: flex;
  color: white;
  height: 64px;
  align-items: center;
}
.spacer {
  flex: 1 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 24px;
}
.subtitle {
  font-size: 12px;
}

.headerAccount {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
