.page {
  background: white;
  padding: 15px;
  border-radius: 5px;
}


.titleBar {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 5px;
  height: 64px;
}

.titleText {
  font-size: 22px;
  text-align: center;
  flex: 1 0;
  line-height: 64px;
}

.corner {
  width: 64px;
}

.close {
  font-size: 54px;
  text-decoration: none;
  display: block;
  text-align: center;
}
