.container {
  display: flex;
  display: flex;
  background: #d9d9d9;
  padding: 6px;
  border-radius: 12px;
  margin: 4px 0;
}

.address {
  overflow: hidden;
  font-family: monospace;
  margin: 0 20px;
}

.value {
  white-space: nowrap;
}
