.balances {
  padding: 0;
}
.balanceRow {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #f0f0f0;
}
.assetName {
  flex: 1 0;
  color: #919191;
}
.assetBalance {
  font-size: 40px;
}

.buttons {
  display: flex;
  padding: 0;
}
.buttonContainer {
  display: block;
  width: 50%;
  padding: 4px;
}
.button {
  display: block;
  background-image: linear-gradient(rgb(250, 125, 54), rgb(247, 107, 28));
  background-color: rgb(247, 107, 28);
  color: rgb(255, 255, 255);
  line-height: 1.5;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 12px;
  text-align: center;
  font-size: 16px;
}
