.qrContainer {
  text-align: center;
  border: solid 10px '#CCCCCC';
  background: '#CCCCCC';
}

.qrContainer svg {
  width: 100%;
  height: initial;
  max-width: 600px;
  max-height: 60vh;
}

.addressContainer {
  margin: 10px 40px;
}
.address {
  width: 100%;
  font-size: 18px;
  color: #999999;
  padding: 6px 12px;
}

.copied, .copyHidden {
  transition: all 1s;
  text-align: center;
}
.copyHidden {
  opacity: 0;
}
.copied {
  opacity: 1,
}
